In [4]:
import pandas as pd

# DataFrame Creation
data = {
    'EmployeeID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'Sales'],
    'Salary': [60000, 75000, 80000, 70000, 65000]
}
employees = pd.DataFrame(data)

In [6]:
# Data Exploration
print("First 3 rows of the DataFrame:")
print(employees.head(3))  # Display first 3 rows
print()

First 3 rows of the DataFrame:
   EmployeeID     Name Department  Salary
0         101    Alice         HR   60000
1         102      Bob         IT   75000
2         103  Charlie    Finance   80000

In [5]:
print("Summary statistics for the 'Salary' column:")
print(employees['Salary'].describe())  # Summary statistics for Salary column
print()

Summary statistics for the 'Salary' column:
count        5.00000
mean     70000.00000
std       7905.69415
min      60000.00000
25%      65000.00000
50%      70000.00000
75%      75000.00000
max      80000.00000
Name: Salary, dtype: float64

In [6]:
print("Number of employees in each department:")
print(employees['Department'].value_counts())  # Count of employees in each department
print()

Number of employees in each department:
Department
HR           1
IT           1
Finance      1
Marketing    1
Sales        1
Name: count, dtype: int64

In [7]:

print("Average salary of employees:", employees['Salary'].mean())  # Average salary
print()

Average salary of employees: 70000.0